<!DOCTYPE html>
<html>
<head>
	<title>torsokart</title>
  <!-- scripts -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.4.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115866882-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115866882-1');
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js" type="text/javascript"></script> -->
  <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="https://use.fontawesome.com/0873e94696.js"></script>
  <script type="text/javascript" src="/javascript/slider.js"></script>
  <script type="text/javascript" src="/javascript/save_address.js"></script>
  <script type="text/javascript" src="/javascript/check.js"></script>
  <script type="text/javascript" src="/scripts/search.js"></script>
  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="/stylesheets/main.css"> 
  <link href="https://fonts.googleapis.com/css?family=Barlow|Lora" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/slider.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/show.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/mobile_view.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/user_style.css">
  <link rel="shortcut icon" href="/img/logo/logo_small.png" type="image/x-icon">
  
  <link rel="stylesheet" type="text/css" href="/stylesheets/sample.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-social.css">

<link rel="stylesheet" type="text/css" href="/stylesheets/loading.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/loading-btn.css"/>
<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  
  
  <!-- end -->
</head>
<body>
  
<script type="text/javascript">
  $(document).ready(function () {
    $("#sidebar").mCustomScrollbar({
      theme: "minimal"
      });
      $('#dismiss, .overlay').on('click', function () {
        $('#sidebar').removeClass('active');
          $('.overlay').fadeOut();
          });

  $('#sidebarCollapse').on('click', function () {
    $('#sidebar').addClass('active');
    $('.overlay').fadeIn();
    $('.collapse.in').toggleClass('in');
    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
  });
            });
</script>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div id="dismiss"><i class="fas fa-arrow-left"></i>
        </div>
        <div class="sidebar-header">
             <h3 class="mobile_view_logo">torsokart</h3>
        </div>
        <ul class="list-unstyled components">
            <li>
              <a style="font-size: 1.1em;" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><span class="mobile_account">Account</span> <i class="fas fa-caret-down"></i></a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <% if(!currentUser){ %>
                  <li>
                    <a href="/login"><span class="mobile_titles"><i class="fas fa-sign-in-alt"></i> Sign In</span></a>
                  </li>
                  <li>
                    <a href="/register"><span class="mobile_titles"><i class="fas fa-user"></i> Register</span></a>
                  </li>
                  <li>
                    <a href="/cart"><span class="mobile_titles"><i class="fa fa-shopping-cart"></i> Cart</span></a>
                  </li>
                <%} else {%>
                  <li>
                    <a href="/users/<%=currentUser.id%>"><span class="mobile_titles"><i class="fas fa-user"></i> <%=currentUser.firstName%></span></a>

                    <a href="/orders/<%=currentUser.id%>"><span class="mobile_titles"><i class="fab fa-first-order"></i> Orders</span></a>

                  </li>
                  <li>
                    <a href="/logout"><span class="mobile_titles"><i class="fas fa-sign-out-alt"></i> Logout</span></a>
                  </li>
                  <li>
                    <a href="/cart"><span class="mobile_titles"><i class="fa fa-shopping-cart"></i> Cart</span></a>
                  </li>
                <%}%>
                <% if(currentUser && currentUser.isAdmin){ %>
                  <li>
                    <a href="/category/new"><span class="mobile_titles"><i class="fas fa-plus-square"></i> Add</span></a>
                  </li>
                  <li>
                    <a href="/dashbord"><span class="mobile_titles"><i class="fab fa-dashcube"></i> D-Board</span></a>
                  </li>
                <%}%>
            </ul>
          </li>                               
        </ul>
        <ul class="list-unstyled components">
          <p><span class="mobile_account" style="text-decoration: underline;">Products</span></p>
          <li>
            <a href="/category/allproducts"><span class="mobile_titles"> ALL T-SHIRTS</span></a>
          </li>                   
          <li>
            <a href="/category/quotes"><span class="mobile_titles"> TEXT T-SHIRTS</span></a>
          </li>

          <li>
            <a href="/category/pattern"><span class="mobile_titles"> PATTERN / ABSTRACT T-SHIRTS</span></a>
          </li>
          <li>
            <a href="/category/states"><span class="mobile_titles"> STATES T-SHIRTS</span></a>
          </li>
          <li>
            <a href="/category/southindian"><span class="mobile_titles"> SOUTH INDIAN T-SHIRTS</span></a>
          </li>

          <li>
            <a href="/category/sports"><span class="mobile_titles"> SPORTS / GYM FREAK T-SHIRTS</span></a>
          </li>
        </ul>

        <ul class="list-unstyled ">
           <a class="ml-2" href="/category/sports"><span class="mobile_titles"> SPORTS / GYM FREAK T-SHIRTS</span></a> 
        </ul>
    </nav>
    <div class="overlay"></div>
    <!-- Page Content Holder -->
    <div id="content_style">
        <nav class="navbar navbar-light  navbar-expand-md fixed-top">
          <div class="container">

            <button type="button" id="sidebarCollapse" class="btn btn-info nav-item mr-4"> <i class="glyphicon glyphicon-align-left"></i>
            <span><i class="fas fa-bars"></i></span>
            </button>

            <a class="navbar-brand" id="navbar-brand" href="/"><img style="width: 2rem;" src="/img/logo/logo2.png"> <img style="width: 5rem; padding-bottom: 4px;" src="/img/logo/logo.png"></a>

            <div style="margin-left: 5em;" class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ">
                
                <li class="nav-item madedropdown">
                  <a class="nav-link madedropbtn" href="#">MEN <i class="fas fa-angle-down"></i></a>

                  <div style="background-color: #f8eee7;" class="madedropdown-content">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-4">
                        <div class="card-body ">
                          <h6 class="card-title" style="text-decoration: underline; padding-bottom: 10px;">ALL CATERGORIES</h6>
                          <p class="dropdown-content"> <i class="fas fa-angle-double-right"></i> All t-shirts</p>
                          <p class="dropdown-content"> <i class="fas fa-angle-double-right"></i> Text t-shirts</p>      
                          <p class="dropdown-content"> <i class="fas fa-angle-double-right"></i> Patter/Abstract t-shirts</p>
                          <p class="dropdown-content"> <i class="fas fa-angle-double-right"></i> States t-shirts</p>
                          <p class="dropdown-content"> <i class="fas fa-angle-double-right"></i> South indian t-shirts</p>
                          <p class="dropdown-content"> <i class="fas fa-angle-double-right"></i> Sports/Gym freak t-shirts</p>
                        </div>
                      </div>
                      <div class="col-lg-1 col-md-1 col-1">
                        <hr class="dropdown-hr">
                      </div>
                      
                      <div class="col-lg-3 col-md-3 col-3">
                        <h6 class="card-title" style="text-decoration: underline; padding-top: 1.2em;">SPECIAL</h6>
                        <p style="margin-top: 3em;" class="dropdown-content-sec"> <img id="dropdown-img" src="/img/logo/img1.png" style="width:40px"></i> Design of the month</p>
                        <p class="dropdown-content-sec"> <img id="dropdown-img" src="/img/logo/img2.png" alt="Avatar" style="width:40px"></i> New Arival</p>
                        <p class="dropdown-content-sec"> <img id="dropdown-img" src="/img/logo/img3.png" alt="Avatar" style="width:40px"></i> Best seller</p>
                      </div>

                      <div class="col-lg-3 col-md-3 col-3">
                        <img src="/img/logo/droppic.jpg" style="width: 150px; margin-top: 3em;">
                      </div>
                    </div>
                    
                  </div>
                  
                </li>

                <li style="margin-left: 1em;" class="nav-item madedropdown1">
                  <a class="nav-link madedropbtn1" href="#">WOMEN <i class="fas fa-angle-down"></i></a>
        
                  <div style="background-color: #f8eee7;" class="madedropdown-content1">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-4">
                        <div class="card-body ">
                          <h6 class="card-title" style="text-decoration: underline; padding-bottom: 10px;">ALL CATERGORIES</h6>
                          <p class="dropdown-content"> <i class="fas fa-angle-double-right"></i> All t-shirts</p>
                          <p class="dropdown-content"> <i class="fas fa-angle-double-right"></i> Text t-shirts</p>
                          <p class="dropdown-content"> <i class="fas fa-angle-double-right"></i> Patter/Abstract t-shirts</p>
                          <p class="dropdown-content"> <i class="fas fa-angle-double-right"></i> States t-shirts</p>
                          <p class="dropdown-content"> <i class="fas fa-angle-double-right"></i> South indian t-shirts</p>
                          <p class="dropdown-content"> <i class="fas fa-angle-double-right"></i> Sports/Gym freak t-shirts</p>
                        </div>
                      </div>
                      <div class="col-lg-1 col-md-1 col-1">
                        <hr class="dropdown-hr">
                      </div>
                      
                      <div class="col-lg-3 col-md-3 col-3">
                        <h6 class="card-title" style="text-decoration: underline; padding-top: 1.2em;">SPECIAL</h6>
                        <p style="margin-top: 3em;" class="dropdown-content-sec"> <img id="dropdown-img" src="/img/logo/img1.png" style="width:40px"></i> Design of the month</p>
                        <p class="dropdown-content-sec"> <img id="dropdown-img" src="/img/logo/img2.png" alt="Avatar" style="width:40px"></i> New Arival</p>
                        <p class="dropdown-content-sec"> <img id="dropdown-img" src="/img/logo/img3.png" alt="Avatar" style="width:40px"></i> Best seller</p>
                      </div>

                      <div class="col-lg-3 col-md-3 col-3">
                        <img src="/img/logo/droppic1.jpg" style="width: 150px; margin-top: 3em;">
                      </div>
                    </div>
                    
                  </div>

                </li>
                
              </ul>
            </div>

            
            <div class="justify-content-end" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav mobile_icons">
          
          <% if(currentUser && currentUser.isAdmin){ %>
            <li>
              <a class="menu" href="/category/new" style="line-height: 40px;"><i class="fas fa-user" aria-hidden="true"></i> Add</a>

            </li>
            <li>
              <a class="menu" href="/dashbord" style="line-height: 40px;"><i class="fab fa-dashcube"></i> D-Bord</a>
            </li>
          <%}%>

          
          <li id="cart-status-header" class="nav-item">
            <%include ../ajax/cartCount%>
          </li>

          
          <li id="user-status-header" class="nav-item">
            <% include ../ajax/userStatus %>
          </li>
          



          <!-- end up here -->
          <!-- loading -->
          <li class="nav-item">
            <a class="nav-link menu">
              <img class="header-loading" src="/img/logo/header-loading.gif" class="img-responsive" />
            </a>
          </li>
          <!-- end here -->

        </ul>
      </div>
    </div>
  </nav>

  
  

        <!--feedback button-->

        <div id="feedback-main" >
          <div id="feedback-div" style="z-index: 9999;">
            <form action="/contact" method="POST" class="form" id="feedback-form1">
              
              <p class="name">
                <input name="name" type="name" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" required placeholder="Name" id="feedback-name" />
              </p>

              <p class="email">
                <input name="email" type="email" class="validate[required,custom[email]] feedback-input" id="feedback-email" placeholder="Email" required />
              </p>

              <p class="text">
                <textarea name="body" type="comment" class="validate[required,length[6,300]] feedback-input" id="feedback-comment" required ></textarea>
              </p>

              <div class="feedback-submit">
                <input type="submit" value="SEND" id="feedback-button-blue"/>
                <div class="feedback-ease"></div>
              </div>
            </form>
          </div>
        </div>
            
        <button id="popup" style="font-family: https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100;" class="feedback-button" onclick="toggle_visibility()">Feedback</button>



<div class="container paddingTop alertMsg">
  <!-- <% if(error && error.length > 0) { %>
    <div class="alert alert-danger ">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p><%=error %></p>
    </div>
  <% } %>
  <% if(success && success.length > 0) { %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p><%= success %></p></div>
  <% } %> -->
</div>
  
    <script>
      function toggle_visibility() {
      var e = document.getElementById('feedback-main');
      if(e.style.display == 'block')
        e.style.display = 'none';
      else
        e.style.display = 'block';
      }
    </script>

    <!-- model of login div -->
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <% include ../ajax/loginSignup %>
          </div>
        </div>
      </div>
<!-- end here -->


<!-- data-toggle="modal" data-target="#loginModal" -->


