<div class="container" style="background-color: white;">
	<div class="card">
	  <div class="card-body">
	  	<h5 class="card-title">Similar products</h5>
		    <div class="row">
			<% similer.forEach(function(items){%>
				<div class="col-lg-3 col-md-3 col-3 mt-4 animated slideInUp d-flex">

					<div class="card flex-fil card-1" style="width: 14rem;">
						<a target="_blank" href="/category/<%= items.category %>/<%= items._id %>"><img class="card-img-top " src="<%=items.image %>" alt="Card image cap"></a>
						<div class="card-body" id="card-edit">
			                <p class="index-font"><%= items.name %></p>
			                <p class="card-text float-left" id="c1" style="color: black;">
			                  <strike id="c2" class="dis_mob">
			                    ₹<%= items.orignal_price %>
			                  </strike>&nbsp &nbsp
			                  ₹<%= items.cost %>/-
			                </p>
			                <p id="num4" class="card-text float-right" style="color: red;"><%= Math.floor(100-((items.cost * 100)/items.orignal_price)) %>%OFF</p>
			            </div>
					</div>


				</div>
			<%});%>
		</div>
	  </div>
	</div>
	
	<!-- <div style="padding: 0; margin: 0;">
        <div class="ajax-loader-page justify-content-center">
            <img src="/img/logo/ajax-loader-page.gif" class="img-responsive" />
            <p style="text-align: center;">Please wait...</p>
        </div>
    </div> -->
	<!-- pagnination of all t-shirts -->
		<% if (pages > 1) { %>
	    <nav aria-label="Page navigation example" style="margin-bottom: 10px; padding-bottom: 2em;">
	      <ul class="pagination justify-content-center">
	        <% if (current == 1) { %>
	          <li class="page-item disabled">
	            <a class="page-link" onclick='mainPageLoad(1,"<%=showCategories%>")' tabindex="-1">First</a>
	          </li>
	        <% } else { %>
	            <li class="page-item">
	              <a class="page-link" onclick='mainPageLoad(1,"<%=showCategories%>")' tabindex="-1">First</a>
	            </li>
	        <% } %>
	        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
	        <% if (i !== 1) { %>
	            <li class="page-item">
	              <a class="page-link" >...</a>
	            </li>
	        <% } %>

	        <% for (i=1; i <= (Number(current) + 4) && i <= pages; i++) { %>
	          <% if (i == current) { %>
	            <li class="page-item active">
	              <a class="page-link" onclick='mainPageLoad(<%=i%>,"<%=showCategories%>")'><%=i%><span class="sr-only"></span></a>
	            </li>
	          <% } else { %>
	              <li class="page-item"><a class="page-link" onclick='mainPageLoad(<%=i%>,"<%=showCategories%>")'><%=i%></a></li>
	          <% } %>
	          <% if (i == Number(current) + 4 && i < pages) { %>
	              <li class="page-item">
	                <a class="page-link">...</a>
	              </li>
	          <% } %>
	        <% } %>
	        <% if (current == pages) { %>
	          <li class="page-item disabled">
	            <a class="page-link" onclick='mainPageLoad(<%= pages %>, "<%=showCategories%>")' tabindex="-1">Last</a>
	          </li>
	        <% } else { %>
	          <li class="page-item">
	            <a class="page-link" onclick='mainPageLoad(<%= pages %>, "<%=showCategories%>")' tabindex="-1">Last</a>
	          </li>
	        <% } %>

	      </ul>
	    </nav>
	<%}%>
</div>
	
